<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="data:,">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>
<body>
    <div class="header">
        <div class="header-1">
            <i class="fas fa-robot" style="font-size: larger;"></i> <!-- Corrected class -->
            <h3>Admission Bot</h3>
        </div>
        <div class="header-2">
            <div class="button-signin"><button>Sign in</button></div>
            <div class="button-signup"><button>sign up</button></div>
        </div>
    </div>
    <div class="image">
        <img src="{% static 'bot1.png' %}" alt="My Image">
    </div>
    <h1>What can I help with!</h1>
    <div class="main_container">
        <div class="input-div">
            <div class="icon_enter">
                <div>
                    <i class="fas fa-pen"></i> <!-- Correct class for the pen icon -->
                </div>
                <div class="in">
                    <input type="text" placeholder="Enter here">
                </div>
            </div>
            <div class="arrow">
                <i class="fa-solid fa-arrow-up"></i>
            </div>
        </div>
    </div>
</body>
</html>
